.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 660px;
}

::placeholder, .Input-email, .Input-message {
    font-size: 20px;
    letter-spacing: -0.1px;
}

.Input-email, .Input-message {
    background-color: var(--background-color);
    border-color: #6E6E6E;
    border-width: 2px;
    outline: none;
    color: var(--foreground-color);
}

.Input-email {
    border-top: none;
    border-left: none;
    border-right: none;
}

::placeholder {
    color: #ACACAC;
    text-align: start;
}

.email-message-space {
    height: 20px;
}

.Input-message {
    border-radius: 10px;
    padding: 20px;
    outline: none;
    height: 186px;
    text-align: start;
    resize: none;
}

.inputs-attach-space {
    height: 10px;
}

.Attach-button {
    display: flex;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    color: var(--accent-color);
    background-color: unset;
    outline: none;
    border: none;
}

.form-send-space {
    height: 50px;
}

.Submit-button {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: white;
    background-color: var(--accent-color);
    outline: none;
    border: none;
    height: 74px;
    width: 192px;
    border-radius: 10px;
}

@media only screen and (min-width: 600px) {
    ::placeholder, .Input-email, .Input-message {
        font-size: 23px;
        letter-spacing: -0.12px;
    }

    .email-message-space {
        height: 30px;
    }

    .inputs-attach-space {
        height: 20px;
    }

    .Attach-button {
        font-size: 26px;
    }

    .form-send-space {
        height: 90px;
    }

    .Submit-button {
        font-size: 28px;
        width: 247px;
        height: 84px;
    }
}

@media only screen and (min-width: 768px) {
    ::placeholder, .Input-email, .Input-message {
        font-size: 24px;
        letter-spacing: -0.12px;
    }

    .email-message-space {
        height: 40px;
    }

    .Attach-button {
        font-size: 28px;
    }

    .form-send-space {
        height: 120px;
    }

    .Submit-button {
        font-size: 30px;
        width: 277px;
        height: 93px;
    }
}