.recent-work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
}

.published-apps-croparking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.published-apps-croparking-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.published-app-title-description-spacing {
    height: 10px;
}

.RecentWork-title {
    display: flex;
    flex: 1;
    font-weight: 100;
    font-size: 63px;
    letter-spacing: -5px;
    text-align: center;
    color: black;
}

.RecentWork-description {
    display: flex;
    flex: 1;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.13px;
    text-align: center;
    color: black;
    width: 85vw;
}

.GooglePlayButton {
    background: url("/assets/google_play.png");
    width: 277px;
    height: 83px;
    border: none;
    outline: none;
    cursor: pointer;
}

.bigspace {
    height: 80px;
}

.title {
    font-weight: 300;
    letter-spacing: -2.25px;
    text-align: center;
    font-size: 48px;
}

.published-app-description-buttons-spacing {
    height: 80px;
}

.app-image {
}

@media only screen and (min-width: 600px) {
    .recent-work-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--accent-color);
    }
    
    .published-apps-croparking-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .published-apps-croparking-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    
    .published-app-title-description-spacing {
        height: 10px;
    }
    
    .RecentWork-title {
        display: flex;
        flex: 1;
        font-weight: 100;
        font-size: 63px;
        letter-spacing: -5px;
        text-align: center;
        color: black;
    }
    
    .RecentWork-description {
        display: flex;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.13px;
        text-align: center;
        color: black;
        width: 85vw;
    }
    
    .GooglePlayButton {
        background: url("/assets/google_play.png");
        width: 277px;
        height: 83px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .bigspace {
        height: 80px;
    }
    
    .title {
        font-weight: 300;
        letter-spacing: -2.25px;
        text-align: center;
        font-size: 48px;
    }
    
    .published-app-description-buttons-spacing {
        height: 80px;
    }
}

@media only screen and (min-width: 768px) {
    .recent-work-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--accent-color);
    }
    
    .published-apps-croparking-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .published-apps-croparking-description-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    
    .published-app-title-description-spacing {
        height: 10px;
    }
    
    .RecentWork-title {
        display: flex;
        flex: 1;
        font-weight: 100;
        font-size: 63px;
        letter-spacing: -5px;
        text-align: center;
        color: black;
    }
    
    .RecentWork-description {
        display: flex;
        font-size: 20px;
        line-height: 22px;
        letter-spacing: -0.13px;
        text-align: center;
        color: black;
        width: 85vw;
    }
    
    .GooglePlayButton {
        background: url("/assets/google_play.png");
        width: 277px;
        height: 83px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
    .bigspace {
        height: 80px;
    }
    
    .title {
        font-weight: 300;
        letter-spacing: -2.25px;
        text-align: center;
        font-size: 48px;
    }
    
    .published-app-description-buttons-spacing {
        height: 80px;
    }
}