.recent-work-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
}

.project-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.store-button-bottom-space {
    height: 0px;
}

@media only screen and (min-width: 668px) {
    .project-container {
      flex-direction: row;
      align-items: flex-end;
    }
    
    .store-button-bottom-space {
      height: 20px;
    }

    .project-description-store-space {
        height: 170px;
    }
  }