.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-logo-top-space {
    height: 20px;
}

.header-logo-buttons-container, .header-art-container {
    width: 90%;
    max-width: 1024px;
}

.header-logo-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-buttons-container {
    display: none;
}

.header-logo-title-space {
    height: 30px;
}

.header-art-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-art-title-line-container {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    max-width: 553px;
}

.header-title-line-space {
    height: 15px;
}

.header-art-title {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -4.07px;
    line-height: 42px;
    text-align: left;
}

@media only screen and (min-width: 615px) {
    .header-logo-top-space {
        height: 60px;
    }
    
    .header-buttons-container {
        display: flex;
        margin-right: 15%;
    }
    
    .header-button {
        font-size: 20px;
        letter-spacing: -0.53px;
        background-color: unset;
        outline: none;
        border: none;
    }
    
    .header-buttons-horizontal-space {
        width: 40px;
    }
    
    .header-logo-title-space {
        height: 120px;
    }
    
    .header-art-title-line-container {
        margin-right: unset;
        align-items: center;
    }
    
    .header-title-line-space {
        height: 25px;
    }
}