.header-container {
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    overflow: hidden;
}

.logo {
    margin-left: -320px;
    margin-right: -30px;
    width: 320px;
    height: 320px;
    user-select: none;
}

.lusa-development {
    display: flex;
    z-index: 1;
    user-select: none;
}

.lusadevelopment {
    display: flex;
    font-weight: 700;
    font-size: 37px;
    letter-spacing: -3.01px;
    line-height: 28px;
    color: black;
}

.blinking-cursor-visible {
    display: flex;
    background-color: black;
    width: 2px;
    margin-left: 2px;
}

.blinking-cursor-hidden {
    display: flex;
    width: 2px;
    margin-left: 2px;
    visibility: hidden;
}

@media only screen and (min-width: 375px) {
    .lusadevelopment {
        font-size: 42px;
        letter-spacing: -3.42px;
        line-height: 32px;
    }
}

@media only screen and (min-width: 600px) {    
    .lusadevelopment {
        letter-spacing: -5.13px;
        line-height: 48px;
        font-size: 63px;
    }
    
    .blinking-cursor-visible {
        width: 3px;
        margin-left: 3px;
    }
    
    .blinking-cursor-hidden {
        width: 3px;
        margin-left: 3px;
        visibility: hidden;
    }
}

@media only screen and (min-width: 768px) {
    .logo-container {
        margin-top: 80px;
    }
    
    .logo {
        margin-left: -500px;
        margin-right: 0px;
        width: 500px;
        height: 500px;
    }
    .lusadevelopment {
        letter-spacing: -7.98px;
        line-height: 74px;
        font-size: 98px;
    }
}

@media only screen and (min-width: 1186px) {
    .header-container {
        align-items: center;
    }
    
    .logo {
        margin-left: -75px;
    }
    
}