.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-top-space {
    height: 40px;
}

.logo-lusa-space {
    height: 10px;
}

.logo {
    width: 140px;
    height: 140px;
    user-select: none;
}

.lusadevelopment {
    font-weight: 700;
    font-size: 37px;
    letter-spacing: -3.01px;
    line-height: 26px;
    color: black;
}

.lusa-line-space {
    height: 30px;
}

@media only screen and (min-width: 375px) {
    .logo {
        width: 160px;
        height: 160px;
    }

    .lusadevelopment {
        font-size: 42px;
        letter-spacing: -3.42px;
        line-height: 32px;
    }
}

@media only screen and (min-width: 600px) {  
    .logo {
        width: 220px;
        height: 220px;
    }

    .lusadevelopment {
        letter-spacing: -5.13px;
        line-height: 48px;
        font-size: 63px;
    }

    .lusa-line-space {
        height: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .logo-top-space {
        height: 80px;
    }

    .logo {
        width: 300px;
        height: 300px;
        user-select: none;
    }

    .logo-lusa-space {
        height: 20px;
    }

    .lusadevelopment {
        letter-spacing: -7.33px;
        line-height: 63px;
        font-size: 90px;
    }

    .lusa-line-space {
        height: 60px;
    }
}