.what-we-do-container {
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-description {
    letter-spacing: -0.13px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    width: 85vw;
}

.image {
    width: 50vw;
}

@media only screen and (min-width: 600px) {
    .item-description {
        letter-spacing: -0.16px;
        font-size: 23px;
        line-height: 32px;
    }
}

@media only screen and (min-width: 768px) {
    .item-description {
        letter-spacing: -0.2px;
        font-size: 29px;
        line-height: 34px;
    }
    
    .image {
        width: inherit;
    }
}