@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

:root {
  --accent-color: #F16666;
  --light-background-color: #F6F6F6;
}

body, input, textarea {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--accent-color);
}

.bigspace {
  height: 100px;
  width: 100px;
}

.smallspace {
  height: 20px;
  width: 20px;
}

.title {
  font-weight: 300;
  letter-spacing: -1.88px;
  text-align: center;
  font-size: 40px;
}

.title-space {
  height: 60px;
}

@media only screen and (min-width: 600px) {
    .bigspace {
      height: 180px;
    }

    .smallspace {
        height: 30px;
        width: 30px;
    }

    .title {
      letter-spacing: -2.72px;
      font-size: 58px;
    }

    .title-space {
      height: 90px;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .bigspace {
      height: 270px;
      width: 270px;
    }
    
    .smallspace {
      height: 50px;
      width: 50px;
    }
    
    .title {
      letter-spacing: -3px;
      font-size: 64px;
    }

    .title-space {
      height: 150px;
    }
}
