@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

:root {
  --accent-color: #FE7F67;
  --foreground-color: black;
  --background-color: #F6F6F6;
}

body, input, textarea {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.body-small {
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  width: 100%;
  max-width: 418px;
  /* background-color: gray; */
}

.what-we-do-item-container, .project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 698px;
  /* background-color: yellow; */
}

.bigspace, .project-description-store-space, .recent-work-bigspace, .what-we-do-bigspace {
  height: 60px;
  width: 60px;
}

.recent-work-bigspace {
  height: 50px;
}

.smallspace, .recent-work-smallspace, .what-we-do-smallspace {
  height: 15px;
  width: 15px;
}

.title {
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
  font-size: 32px;
}

.title-space {
  height: 60px;
}

.line {
  height: 3px;
  width: 66%;
  background-color: var(--foreground-color);
}

.what-we-do-end-space, .recent-work-end-space {
  height: 80px;
}

@media only screen and (min-width: 600px) {
    .bigspace, .project-description-store-space {
      height: 70px;
      width: 70px;
    }

    .smallspace {
      height: 25px;
      width: 25px;
    }

    .title-space {
      height: 90px;
    }

    .what-we-do-end-space {
      height: 110px;
    }
  }
  
  @media only screen and (min-width: 615px) {
    .line {
      width: 87%;
    }
  }

  @media only screen and (min-width: 668px) {
    .recent-work-bigspace {
      height: 90px;
    }
    
    .recent-work-end-space {
      height: 120px;
    }
  }
  
  @media only screen and (min-width: 720px) {
    .what-we-do-item-container {
      flex-direction: row;
    }
    
    .what-we-do-bigspace {
      height: 90px;
      width: 90px;
    }

    .what-we-do-smallspace {
      height: 30px;
      width: 30px;
    }

    .what-we-do-end-space {
      height: 120px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .smallspace {
      height: 30px;
      width: 30px;
    }
  
    .title-space {
      height: 150px;
    }

    .what-we-do-item-container {
      flex-direction: column;
      max-width: 30%;
    }

    .what-we-do-end-space {
      height: 100px;
    }
  }