@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

:root {
  --accent-color: #FE7F67;
  --foreground-color: black;
  --background-color: #F6F6F6;
  --light-gray-color: #B2B2B2;
}

body, input, textarea, button {
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  color: var(--foreground-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  color: var(--light-gray-color);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.body-small {
  text-align: center;
  width: 100%;
  max-width: 418px;
  /* background-color: gray; */
}

.what-we-do-item-container, .project-container, .form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  /* background-color: yellow; */
}

.what-we-do-item-container, .project-container {
  max-width: 698px;
}

.form-container {
  max-width: 600px;
}

.bigspace, .project-description-store-space, .recent-work-bigspace, .what-we-do-bigspace, .hire-bigspace {
  height: 60px;
  width: 60px;
}

.recent-work-bigspace, .hire-bigspace {
  height: 50px;
}

.smallspace, .recent-work-smallspace, .what-we-do-smallspace, .hire-smallspace {
  height: 15px;
  width: 15px;
}

.title {
  font-weight: 700;
  letter-spacing: -1.5px;
  text-align: center;
  font-size: 32px;
}

.line, .header-line, .border-line, .footer-line {
  height: 3px;
  background-color: var(--foreground-color);
}

.border-line {
  width: 100%;
}

.footer-line {
  width: 75%;
  max-width: 460px;
}

.header-line {
  width: 66%;
}

.what-we-do-end-space, .recent-work-end-space {
  height: 80px;
}

.form-feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 718px;
}

.form-attach-submit-space {
  height: 80px;
}

.hire-end-space {
  height: 120px;
}

.footer-content-vertical-space {
  height: 30px;
}

.footer-icons-logo-space {
  height: 50px;
}

.footer-logo-end-space {
  height: 40px;
}

@media only screen and (min-width: 600px) {
    .bigspace, .project-description-store-space {
      height: 70px;
      width: 70px;
    }

    .smallspace {
      height: 25px;
      width: 25px;
    }

    .title-space {
      height: 90px;
    }

    .what-we-do-end-space {
      height: 110px;
    }
  }
  
  @media only screen and (min-width: 615px) {
    .header-line {
      width: 87%;
    }
  }

  @media only screen and (min-width: 668px) {
    .recent-work-bigspace, .hire-bigspace {
      height: 90px;
    }
    
    .recent-work-end-space {
      height: 120px;
    }

    .form-feedback-container {
      min-height: 852px;
    }

    .hire-end-space {
      height: 150px;
    }
  }
  
  @media only screen and (min-width: 720px) {
    .what-we-do-item-container {
      flex-direction: row;
    }
    
    .what-we-do-bigspace {
      height: 90px;
      width: 90px;
    }

    .what-we-do-smallspace {
      height: 30px;
      width: 30px;
    }

    .what-we-do-end-space {
      height: 120px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .smallspace {
      height: 30px;
      width: 30px;
    }
  
    .title-space {
      height: 150px;
    }

    .what-we-do-item-container {
      flex-direction: column;
      max-width: 30%;
    }

    .what-we-do-end-space {
      height: 100px;
    }
  }