.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
}

.footer-icon-container {
    display: flex;
    align-items: center;
}

.footer-content-vertical-space {
    height: 30px;
}

.footer-icon {
    height: 44px;
    width: 44px;
}

.footer-icons-horizontal-space {
    width: 20px;
}

.footer-icons-logo-space {
    height: 50px;
}

.footer-logo {
    width: 174px;
    height: 174px;
}

@media only screen and (min-width: 600px) {
    .footer-content-vertical-space {
        height: 40px;
    }

    .footer-icon {
        height: 50px;
        width: 50px;
    }

    .footer-icons-logo-space {
        height: 60px;
    }
    
    .footer-logo {
        width: 198px;
        height: 198px;
    }
}

@media only screen and (min-width: 768px) {
    .footer-content-vertical-space {
        height: 50px;
    }

    .footer-icon {
        height: 56px;
        width: 56px;
    }

    .footer-icons-logo-space {
        height: 70px;
    }
    
    .footer-logo {
        width: 225px;
        height: 225px;
    }
}