.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icon-container {
    display: flex;
    align-items: center;
}

.footer-icons-horizontal-space {
    width: 20px;
}

.footer-logo {
    width: 120px;
    height: 118px;
}